:root {
    --main-color-dark: #18556B;
    --main-color: #2E85A5;
    --main-color-light: #48A9CD;
    --main-color-light-2x: #EAF6FB;
    --complementary-color: #CF2B5A;
    --complementary-color-light: #E54F7A;
    --success-color: #2EA54E;
}

label{
    font-weight: 600;
    color: var(--complementary-color);
}

.profile-work p {
    font-size: 1rem;
}